src/__pycache__/instrospection.cpython-313.pyc
src/BInspected.egg-info/dependency_links.txt
src/BInspected.egg-info/PKG-INFO
src/BInspected.egg-info/SOURCES.txt
src/BInspected.egg-info/top_level.txt
tests/just_playing_around.py
.vscode/settings.json
docs/.gitignore
.gitignore
src/__pycache__/classifier.cpython-313.pyc
tests/fucking_around.py
object_research/{'test_setting': 1}_instance_dict.txt
object_research/{'test_setting': 1}_instance_dir.txt
object_research/<class 'figman.FigMan'>_dict.txt
object_research/<class 'figman.FigMan'>_dir.txt
object_research/<class 'setting.Setting'>_dict.txt
object_research/<class 'setting.Setting'>_dir.txt
object_research/<figman.FigMan object at 0x78060c49da90>_instance_dict.txt
object_research/<figman.FigMan object at 0x78060c49da90>_instance_dir.txt
BInspected/object_research/
src/__pycache__/parser.cpython-313.pyc
src/__pycache__/golden_class.cpython-313.pyc
todo
src/binspected.egg-info/dependency_links.txt
src/binspected.egg-info/PKG-INFO
src/binspected.egg-info/SOURCES.txt
src/binspected.egg-info/top_level.txt
dist/binspected-0.1.0-py3-none-any.whl
dist/binspected-0.1.0.tar.gz
dist/binspected-0.1.1-py3-none-any.whl
dist/binspected-0.1.1.tar.gz
.vscode/tasks.json
BInspected.code-workspace
src/binspected/__pycache__/__init__.cpython-313.pyc
src/binspected/__pycache__/classifier.cpython-313.pyc
src/binspected/__pycache__/introspection.cpython-313.pyc
src/binspected/__pycache__/parser.cpython-313.pyc
examples/GoldenClassInstance.json
examples/GoldenClassInstanceMethodOne.json
.gitignore
examples/GoldenClassInstanceMethodOne.json
